{% extends 'base.html.twig' %}

{% set page = 'rescue-type' %}
{% block title %}Type d'intervention{% endblock %}
{% block pageTitle %}Type d'intervention{% endblock %}
{% block pageSubTitle %}Création{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form action="{{ path('rescue-type-create') }}" method="post">
                    <div class="box-body">
                        {{ form_errors(form) }}
                        {{ form_row(form.name) }}
                        {{ form_rest(form) }}
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
